body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #E8E8E8;
  margin: 10px;
  padding: 0;
  -webkit-user-select: none;
  -mozuser-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-tap-highlight-color: transparent;
  -ms-overflow-style: none;
}

.arrow-background {
  width: 0;
  height: 0;
  left: 0;
  top: -6;
  position: absolute;
  border-style: solid;
  border-width: 23px 0 23px 10.7px;
  border-color: transparent transparent transparent #E8E8E8;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.arrow {
  width: 0;
  height: 0;
  left: 0;
  top: 0;
  position: absolute;
  border-style: solid;
  border-width: 17px 0 17px 8px;
  border-color: transparent transparent transparent #F2F2F2;
  -webkit-transition: opacity .3s ease, border-color .3s ease;
  transition: opacity .3s ease, border-color .3s ease;
}

.component {
  width: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.progress-line {
  position: relative;
  background-color: #F2F2F2;
  color: #707070;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

.progress-shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1000;
  overflow: hidden;
  -webkit-box-shadow: inset 0px -7px 7px -10px #000000;
}

.progress-line-item {
  display: inline-block;
  position: relative;
  font-size: 12px;
  padding: 10px 9px 9px 17px;
  background-color: #F2F2F2;
  -webkit-transition: font-size .3s ease, padding .1s ease, background-color .3s ease;
  transition: font-size .3s ease, padding .1s ease, background-color .3s ease;
}

.selected {
  background-color: #20A200;
  color: #FFFFFF;
}

.disabled {
  background-color: #CCCCCC !important;
  color: #8D8D8D !important;
  cursor: default !important;
  -webkit-box-shadow: 0px 3.5px 0px #8D8D8D !important;
          box-shadow: 0px 3.5px 0px #8D8D8D !important;
}

.done {
  min-width: 30px;
  padding: 10px 17px 10px 8px;
  font-size: 1px;
  color: rgba(255, 255, 255, 0);
  background-repeat: no-repeat;
  background-position: 70% center;
  background-size: 20px;
  background-image: url("../check.png");
}

.break {
  background-color: #D9AB0F;
  color: white;
}

.handler-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 30px 10px 30px 0;
  background-color: white;
  -webkit-box-shadow: inset 0px 7px 8px -10px #000000;
}

.handler-button {
  width: 50%;
  padding: 12px 0;
  margin-left: 10px;
  font-size: 14px;
  background-color: #49A1ED;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 3.5px 0px #2B79BC;
          box-shadow: 0px 3.5px 0px #2B79BC;
  outline: none;
  border: none;
  border-radius: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  -webkit-transition: background-color .3s ease, color .3s ease, -webkit-box-shadow .3s ease;
  transition: background-color .3s ease, color .3s ease, -webkit-box-shadow .3s ease;
  transition: background-color .3s ease, color .3s ease, box-shadow .3s ease;
  transition: background-color .3s ease, color .3s ease, box-shadow .3s ease, -webkit-box-shadow .3s ease;
}
/*# sourceMappingURL=style.css.map */