/projects/ @Resconet/solutions
/projects/City\ Citizen/www/JSBridge.js
/projects/City\ Operator/www/JSBridge.js
/projects/Default\ (Mobile\ Sales\ scenario)/www/JSBridge.js
/projects/Dynamics\ Field\ Service/www/JSBridge.js
/projects/External\ Customer/www/JSBridge.js
/projects/Field\ Sales/www/JSBridge.js
/projects/Field\ Service\ (requires\ Field\ Service\ Lightning\ objects)/www/JSBridge.js
/projects/Field\ Service\ -\ Field\ Worker/www/JSBridge.js
/projects/Field\ Service\ -\ Manager/www/JSBridge.js
/projects/Field\ Service\ -\ Manager/www/ManagerHome/scripts/JSBridge.js
/projects/Inspections\ -\ Manager/www/JSBridge.js
/projects/Routes\ -\ Default/www/JSBridge.js
/projects/Routes\ -\ Default/www/Process/scripts/JSBridge.js
/projects/Sales/www/JSBridge.js
