/projects/Default/ @Resconet/dynamics
/projects/Inspector/ @Resconet/dynamics
/projects/Field\ Service\ -\ Contractor/ @Resconet/field-service
/projects/Field\ Service\ -\ Dispatcher/ @Resconet/field-service
/projects/Field\ Service\ -\ Field\ Worker/ @Resconet/field-service
/projects/Field\ Service\ -\ Manager/ @Resconet/field-service
/projects/Portal\ -\ Contractor/ @Resconet/field-service
/projects/Portal\ -\ Dark/ @Resconet/field-service
/projects/Portal\ -\ Light/ @Resconet/field-service
/projects/Sales/ @Resconet/sales
/projects/Default\ (Mobile\ Sales\ scenario)/ @Resconet/salesforce
/projects/Inspections\ (requires\ Resco\ custom\ objects)/ @Resconet/salesforce
/projects/Field\ Service\ (requires\ Field\ Service\ Lightning\ objects)/ @Resconet/salesforce
