.cards-container {
	color: #707070;
}
.cards-container__header {
	display: block;
	font-size: 18px;
	color: #333333;
	line-height: 19px;
	font-weight: 600;

	margin-bottom: 20px;
}
.cards-container__description {
	font-size: 14px;
	line-height: 16px;
	margin-top: -12px;
	margin-bottom: 20px;
}
.cards-container__wrapper {
	padding-bottom: 15px;
	font-size: 16px;
	line-height: 18px;
	display: flex;
	flex-wrap: wrap;
}

@media only screen and (max-width: 1491px) {
	.card {
		width: calc(25% - 28px);
	}
}

@media only screen and (max-width: 1211px) {
	.card {
		width: calc(33% - 25px);
	}
}

@media only screen and (max-width: 1000px) {
	.card {
		width: calc(50% - 28px);
	}
}

@media only screen and (max-width: 720px) {
	.card {
		width: 100%;
		min-width: 250px;
	}
}

@media only screen and (max-width: 450px) {
	body {
		padding: 2rem 2rem 0 2rem !important;
	}
	.card {
		width: calc(100%);
		margin-right: 0;
		min-width: 250px;
	}
	.inspector-popup {
		left: 2rem !important;
		right: 2rem !important;
	}
}
